<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2rem;
      background-color: #ffffff;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
      border-radius: 1rem;
      overflow: hidden;
      margin-top: 60px;
    }
     h1{
      margin: 20px 0px;
      color: #007bff;
      text-align: center;
    }

    table th, table td {
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid #eaeaea;
    }

    table th {
      background-color: #f0f4f8;
      color: #2a3f59;
      font-weight: 600;
    }

    a {
      color: #007bff;
      text-decoration: none;
      margin-right: 0.5rem;
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
    }

    .inline-form {
      display: inline;
    }

    @media (max-width: 768px) {
      nav ul {
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 1rem;
      }

      form input {
        font-size: 1rem;
      }

      table th, table td {
        font-size: 0.9rem;
      }

      button {
        width: 100%;
        margin-top: 1rem;
      }
    }
</style>
<body>
  <%-include('partials/navbar')%>
  
    <table border="1" cellpadding="8" cellspacing="0">
      <h1>Switch two results for flows sent  </h1>
        <thead>
          <tr>
            <th>#</th>
            <th>Device ID</th>
            <th>Flow ID</th>
          </tr>
        </thead>
        <tbody>
          <% flows.forEach((flow, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= flow.deviceId %></td>
              <td><%= flow.flowId %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      
      <%-include('partials/footer') %>
</body>
</html>